In [7]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/Parcours_data_scientist/decouvrez-les-librairies-python-pour-la-data-science/hubble_data.csv')

In [3]:
data.head()

   distance  recession_velocity
0     0.032                 170
1     0.034                 290
2     0.214                -130
3     0.263                 -70
4     0.275                -185

In [9]:
data.describe()

        distance  recession_velocity
count  24.000000           24.000000
mean    0.911375          373.125000
std     0.645496          371.254666
min     0.032000         -220.000000
25%     0.406250          165.000000
50%     0.900000          295.000000
75%     1.175000          537.500000
max     2.000000         1090.000000

In [11]:
data.distance.shape

(24,)

In [12]:
data.recession_velocity.shape

(24,)

In [15]:
X = data.distance
print(X)

0     0.032
1     0.034
2     0.214
3     0.263
4     0.275
5     0.275
6     0.450
7     0.500
8     0.500
9     0.630
10    0.800
11    0.900
12    0.900
13    0.900
14    0.900
15    1.000
16    1.100
17    1.100
18    1.400
19    1.700
20    2.000
21    2.000
22    2.000
23    2.000
Name: distance, dtype: float64